.u-section-1 .u-sheet-1 {
  min-height: 741px;
}

.u-section-1 .u-form-1 {
  height: 426px;
  width: 937px;
  margin: 60px auto;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}