.u-section-1 .u-sheet-1 {
  min-height: 742px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin: 51px auto 51px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 640px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 1px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 20px 1px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(128, 128, 128) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 20px 1px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 30px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  margin: 20px 1px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-5 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 30px 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 528px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-text-2 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-1 .u-text-4 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 16px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 910px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}