.u-section-1 .u-sheet-1 {
  min-height: 741px;
}

.u-section-1 .u-form-1 {
  height: 318px;
  width: 570px;
  margin: 60px auto;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-top: 20px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 470px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}